name: Server Cooking (ci/cd)

on:
  push:
    branches: [ main ]

jobs:
  build:
    name: Build Binary
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: wangyoucao577/go-release-action@v1.28
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        goos: linux
        goarch: amd64